<a href="https://colab.research.google.com/github/abalckpie/professorahn/blob/main/%EB%8D%B0%EC%9D%B4%ED%84%B0_%EC%97%AD%EB%9F%89_%EC%97%B0%EB%A0%B9%EB%8C%80%EB%B3%84_%ED%8F%89%EA%B7%A0%EC%B9%98.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

1. 데이터 불러오기

In [12]:
import pandas as pd
import numpy as np
csv_test = pd.read_csv('/content/2022_2022년 지능정보사회 이용자 패널 조사_Data(가중치포함).csv')
df = pd.DataFrame(csv_test)
df

,No,wgt_a,wgt_b,id,Josagu,Josagu_gubun,Bon,Area1,Area2,Area3,...,DQ4_1,DQ4_2,DQ4_3,DQ4_4,DQ4_op2,DQ4_op3,DQ4_op4,DQ5,DQ6,DQ7
0,1,9115.936286,1.249960,2_1,11010730061,2,1,1,113,3,...,1.0,NaN,NaN,NaN,NaN,NaN,NaN,4,4,3
1,2,7379.420451,1.011852,6_1,11010730061,2,1,1,113,3,...,1.0,NaN,NaN,NaN,NaN,NaN,NaN,4,4,5
2,3,11069.130680,1.517778,8_2,11010730061,2,1,1,113,3,...,NaN,NaN,NaN,4.0,NaN,NaN,1.0,6,10,3
3,4,5461.096385,0.748815,8_3,11010730061,2,1,1,113,3,...,1.0,NaN,NaN,NaN,NaN,NaN,NaN,7,10,3
4,5,2308.647665,0.316557,9_1,11010730061,2,1,1,113,3,...,1.0,NaN,NaN,NaN,NaN,NaN,NaN,5,5,4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5373,5374,5214.785929,0.715042,204405_2,11250730521,2,2,1,116,3,...,1.0,NaN,NaN,NaN,NaN,NaN,NaN,11,10,4
5374,5375,3682.940899,0.504998,204411_1,11250730521,2,2,1,116,3,...,NaN,NaN,3.0,NaN,NaN,1.0,NaN,5,10,4
5375,5376,5807.987516,0.796380,204411_2,11250730521,2,2,1,116,3,...,1.0,NaN,NaN,NaN,NaN,NaN,NaN,11,10,4
5376,5377,2455.293933,0.336665,204417_1,11250730521,2,2,1,116,3,...,NaN,NaN,3.0,NaN,NaN,1.0,NaN,7,7,4
5377,5378,3476.523952,0.476694,204417_2,11250730521,2,2,1,116,3,...,1.0,NaN,NaN,NaN,NaN,NaN,NaN,11,7,4

2. 필요한 데이터 추출

In [4]:
df.columns
df[['Age_group', 'Q30_1', 'Q30_2', 'Q30_3', 'Q30_4', 'Q30_5', 'Q30_6']]
df1 = df[['Age_group', 'Q30_1', 'Q30_2', 'Q30_3', 'Q30_4', 'Q30_5', 'Q30_6']]
df1

      Age_group  Q30_1  Q30_2  Q30_3  Q30_4  Q30_5  Q30_6
0             6      3      2      3      4      3      3
1             5      4      4      1      3      4      4
2             5      5      5      5      5      5      5
3             2      3      3      2      2      3      3
4             4      4      4      4      5      4      3
...         ...    ...    ...    ...    ...    ...    ...
5373          1      4      4      4      4      3      4
5374          4      4      4      4      4      4      4
5375          1      4      4      4      4      4      4
5376          4      4      4      4      4      4      4
5377          1      4      4      4      4      3      4

[5378 rows x 7 columns]

3. 연령 그룹에 따른 문항별 평균값 구하기

In [5]:
df1.groupby(by='Age_group').mean().reset_index()
df1_1=df1.groupby(by='Age_group').mean().reset_index()
df1_1

   Age_group     Q30_1     Q30_2     Q30_3     Q30_4     Q30_5     Q30_6
0          1  3.818462  3.920000  3.553846  3.772308  3.332308  3.932308
1          2  4.084670  4.106061  3.984848  4.012478  3.874332  4.053476
2          3  4.015182  3.980769  3.924089  3.970648  3.788462  3.948381
3          4  3.859903  3.882126  3.723671  3.838647  3.610628  3.835749
4          5  3.534562  3.594470  3.436866  3.499539  3.250691  3.566820
5          6  3.000000  3.035237  2.927096  2.997570  2.731470  3.037667

4. 연령 제거 후 그룹에 따른 전체 평균 구하기

In [6]:
del df1_1['Age_group']
df1_1.mean(axis='columns')

0    3.721538
1    4.019311
2    3.937922
3    3.791787
4    3.480492
5    2.954840
dtype: float64

외 5개 문항 동일하게 작업

In [24]:
df2 = df[['Age_group', 'Q30_7', 'Q30_8', 'Q30_9', 'Q30_10', 'Q30_11']]
df2.groupby(by='Age_group').mean().reset_index()
df2_1=df2.groupby(by='Age_group').mean().reset_index()
df2_1
del df2_1['Age_group']
df2_1.mean(axis='columns')

0    3.163692
1    3.378253
2    3.331781
3    3.168309
4    2.924977
5    2.525881
dtype: float64

In [23]:
df3 = df[['Age_group', 'Q30_12', 'Q30_13', 'Q30_14', 'Q30_15']]
df3.groupby(by='Age_group').mean().reset_index()
df3_1=df3.groupby(by='Age_group').mean().reset_index()
df3_1
del df3_1['Age_group']
df3_1.mean(axis='columns')

0    3.504615
1    3.649955
2    3.505567
3    3.385749
4    3.181336
5    2.725699
dtype: float64

In [25]:
df4 = df[['Age_group', 'Q30_16', 'Q30_17', 'Q30_18']]
df4.groupby(by='Age_group').mean().reset_index()
df4_1=df4.groupby(by='Age_group').mean().reset_index()
df4_1
del df4_1['Age_group']
df4_1.mean(axis='columns')

0    3.421538
1    3.533274
2    3.377193
3    3.158776
4    2.749616
5    2.337789
dtype: float64

In [26]:
df5 = df[['Age_group', 'Q30_19', 'Q30_20', 'Q30_21']]
df5.groupby(by='Age_group').mean().reset_index()
df5_1=df5.groupby(by='Age_group').mean().reset_index()
df5_1
del df5_1['Age_group']
df5_1.mean(axis='columns')

0    3.102564
1    3.426619
2    3.382928
3    3.216103
4    2.969892
5    2.529769
dtype: float64

In [27]:
df6 = df[['Age_group', 'Q30_22', 'Q30_23', 'Q30_24']]
df6.groupby(by='Age_group').mean().reset_index()
df6_1=df6.groupby(by='Age_group').mean().reset_index()
df6_1
del df6_1['Age_group']
df6_1.mean(axis='columns')

0    3.447179
1    3.651218
2    3.413630
3    3.211272
4    2.878955
5    2.409072
dtype: float64

5. 요인별 평균

In [31]:
#del df1['Age_group'], de2['Age_group'], df3['Age_group'], df4['Age_group'], df5['Age_group'], df6['Age_group'] 연령 제거
df1_mean = df1.mean().mean()
df1_mean
df2_mean = df2.mean().mean()
df3_mean = df3.mean().mean()
df4_mean = df4.mean().mean()
df5_mean = df5.mean().mean()
df6_mean = df6.mean().mean()
df1_mean, df2_mean, df3_mean, df4_mean, df5_mean, df6_mean

(3.67097433990331,
 3.0944589066567496,
 3.327817032354035,
 3.0847279038056272,
 3.1291062352795342,
 3.1646832775505143)

6. 연령대에 따른 전체 평균

6-1. 연령대별로 데이터 프레임 만들기

In [70]:
df_age1 = df.loc[df['Age_group']==1]
df_age2 = df.loc[df['Age_group']==2]
df_age3 = df.loc[df['Age_group']==3]
df_age4 = df.loc[df['Age_group']==4]
df_age5 = df.loc[df['Age_group']==5]
df_age6 = df.loc[df['Age_group']==6]
df_age1

,No,wgt_a,wgt_b,id,Josagu,Josagu_gubun,Bon,Area1,Area2,Area3,...,DQ4_1,DQ4_2,DQ4_3,DQ4_4,DQ4_op2,DQ4_op3,DQ4_op4,DQ5,DQ6,DQ7
17,18,5461.096385,0.748815,53_3,11020710091,2,1,1,114,3,...,1.0,NaN,NaN,NaN,NaN,NaN,NaN,11,8,4
25,26,4903.324689,0.672335,68_3,11020710091,2,1,1,114,3,...,1.0,NaN,NaN,NaN,NaN,NaN,NaN,11,9,3
75,76,6488.039062,0.889628,227_2,1104071051A,1,1,1,106,3,...,1.0,NaN,NaN,NaN,NaN,NaN,NaN,11,10,3
98,99,3548.036348,0.486500,295_2,11050570121,2,1,1,102,3,...,1.0,NaN,NaN,NaN,NaN,NaN,NaN,11,4,3
113,114,5080.678558,0.696653,368_2,11050581451,2,1,1,102,3,...,1.0,NaN,NaN,NaN,NaN,NaN,NaN,11,7,3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5369,5370,5807.987516,0.796380,204397_2,11250730521,2,2,1,116,3,...,1.0,NaN,NaN,NaN,NaN,NaN,NaN,11,10,4
5371,5372,5214.785929,0.715042,204399_2,11250730521,2,2,1,116,3,...,1.0,NaN,NaN,NaN,NaN,NaN,NaN,11,10,4
5373,5374,5214.785929,0.715042,204405_2,11250730521,2,2,1,116,3,...,1.0,NaN,NaN,NaN,NaN,NaN,NaN,11,10,4
5375,5376,5807.987516,0.796380,204411_2,11250730521,2,2,1,116,3,...,1.0,NaN,NaN,NaN,NaN,NaN,NaN,11,10,4
5377,5378,3476.523952,0.476694,204417_2,11250730521,2,2,1,116,3,...,1.0,NaN,NaN,NaN,NaN,NaN,NaN,11,7,4

6-2. 연령대별 전체 평균 구하기

In [73]:
#df_age1 = df_age1.iloc[:,[366, 367, 368, 369, 370, 371, 372, 373, 374, 375, 376, 377, 378, 379, 380, 381, 382, 383, 384, 385, 386, 387, 388, 389]]
df_age1.mean().mean()

3.42

In [74]:
df_age2 = df_age2.iloc[:,[366, 367, 368, 369, 370, 371, 372, 373, 374, 375, 376, 377, 378, 379, 380, 381, 382, 383, 384, 385, 386, 387, 388, 389]]
df_age2.mean().mean()

3.6433452168746285

In [83]:
#df_age3 = df_age3.iloc[:,[366, 367, 368, 369, 370, 371, 372, 373, 374, 375, 376, 377, 378, 379, 380, 381, 382, 383, 384, 385, 386, 387, 388, 389]]
#df_age4 = df_age4.iloc[:,[366, 367, 368, 369, 370, 371, 372, 373, 374, 375, 376, 377, 378, 379, 380, 381, 382, 383, 384, 385, 386, 387, 388, 389]]
#df_age5 = df_age5.iloc[:,[366, 367, 368, 369, 370, 371, 372, 373, 374, 375, 376, 377, 378, 379, 380, 381, 382, 383, 384, 385, 386, 387, 388, 389]]
#df_age6 = df_age6.iloc[:,[366, 367, 368, 369, 370, 371, 372, 373, 374, 375, 376, 377, 378, 379, 380, 381, 382, 383, 384, 385, 386, 387, 388, 389]]
df_age3.mean().mean()
df_age4.mean().mean()
df_age5.mean().mean()
df_age6.mean().mean()

2.6287970838396113

7. 전체 평균 구하기

In [85]:
#df = df.iloc[:,[366, 367, 368, 369, 370, 371, 372, 373, 374, 375, 376, 377, 378, 379, 380, 381, 382, 383, 384, 385, 386, 387, 388, 389]]
df.mean().mean()

3.2893733730011157