<a href="https://colab.research.google.com/github/abalckpie/professorahn/blob/main/%EC%86%8C%EB%85%BC%EB%AC%B8_1%EC%A0%88_%EC%9D%B8%EA%B5%AC%ED%86%B5%EA%B3%84%ED%95%99%EC%A0%81_%ED%8A%B9%EC%84%B1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
import numpy as np
import scipy.stats as stats
!pip install pingouin
import pingouin as pg
csv_test = pd.read_csv('/content/2022_2022년 지능정보사회 이용자 패널 조사_Data(가중치포함).csv')
df = pd.DataFrame(csv_test)
df

Collecting pingouin
  Downloading pingouin-0.5.4-py2.py3-none-any.whl.metadata (1.1 kB)
Requirement already satisfied: numpy in /usr/local/lib/python3.10/dist-packages (from pingouin) (1.26.4)
Requirement already satisfied: scipy in /usr/local/lib/python3.10/dist-packages (from pingouin) (1.13.1)
Requirement already satisfied: pandas>=1.5 in /usr/local/lib/python3.10/dist-packages (from pingouin) (2.1.4)
Requirement already satisfied: matplotlib in /usr/local/lib/python3.10/dist-packages (from pingouin) (3.7.1)
Requirement already satisfied: seaborn in /usr/local/lib/python3.10/dist-packages (from pingouin) (0.13.1)
Requirement already satisfied: statsmodels in /usr/local/lib/python3.10/dist-packages (from pingouin) (0.14.2)
Requirement already satisfied: scikit-learn in /usr/local/lib/python3.10/dist-packages (from pingouin) (1.3.2)
Collecting pandas-flavor (from pingouin)
  Downloading pandas_flavor-0.6.0-py3-none-any.whl.metadata (6.3 kB)
Requirement already satisfied: tabulate in /usr/local/lib/python3.10/dist-packages (from pingouin) (0.9.0)
Requirement already satisfied: python-dateutil>=2.8.2 in /usr/local/lib/python3.10/dist-packages (from pandas>=1.5->pingouin) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in /usr/local/lib/python3.10/dist-packages (from pandas>=1.5->pingouin) (2024.1)
Requirement already satisfied: tzdata>=2022.1 in /usr/local/lib/python3.10/dist-packages (from pandas>=1.5->pingouin) (2024.1)
Requirement already satisfied: contourpy>=1.0.1 in /usr/local/lib/python3.10/dist-packages (from matplotlib->pingouin) (1.2.1)
Requirement already satisfied: cycler>=0.10 in /usr/local/lib/python3.10/dist-packages (from matplotlib->pingouin) (0.12.1)
Requirement already satisfied: fonttools>=4.22.0 in /usr/local/lib/python3.10/dist-packages (from matplotlib->pingouin) (4.53.1)
Requirement already satisfied: kiwisolver>=1.0.1 in /usr/local/lib/python3.10/dist-packages (from matplotlib->pingouin) (1.4.5)
Requirement already satisfied: packaging>=20.0 in /usr/local/lib/python3.10/dist-packages (from matplotlib->pingouin) (24.1)
Requirement already satisfied: pillow>=6.2.0 in /usr/local/lib/python3.10/dist-packages (from matplotlib->pingouin) (9.4.0)
Requirement already satisfied: pyparsing>=2.3.1 in /usr/local/lib/python3.10/dist-packages (from matplotlib->pingouin) (3.1.2)
Requirement already satisfied: xarray in /usr/local/lib/python3.10/dist-packages (from pandas-flavor->pingouin) (2024.6.0)
Requirement already satisfied: joblib>=1.1.1 in /usr/local/lib/python3.10/dist-packages (from scikit-learn->pingouin) (1.4.2)
Requirement already satisfied: threadpoolctl>=2.0.0 in /usr/local/lib/python3.10/dist-packages (from scikit-learn->pingouin) (3.5.0)
Requirement already satisfied: patsy>=0.5.6 in /usr/local/lib/python3.10/dist-packages (from statsmodels->pingouin) (0.5.6)
Requirement already satisfied: six in /usr/local/lib/python3.10/dist-packages (from patsy>=0.5.6->statsmodels->pingouin) (1.16.0)
Downloading pingouin-0.5.4-py2.py3-none-any.whl (198 kB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 198.9/198.9 kB 4.3 MB/s eta 0:00:00
Downloading pandas_flavor-0.6.0-py3-none-any.whl (7.2 kB)
Installing collected packages: pandas-flavor, pingouin
Successfully installed pandas-flavor-0.6.0 pingouin-0.5.4

,No,wgt_a,wgt_b,id,Josagu,Josagu_gubun,Bon,Area1,Area2,Area3,...,DQ4_1,DQ4_2,DQ4_3,DQ4_4,DQ4_op2,DQ4_op3,DQ4_op4,DQ5,DQ6,DQ7
0,1,9115.936286,1.249960,2_1,11010730061,2,1,1,113,3,...,1.0,NaN,NaN,NaN,NaN,NaN,NaN,4,4,3
1,2,7379.420451,1.011852,6_1,11010730061,2,1,1,113,3,...,1.0,NaN,NaN,NaN,NaN,NaN,NaN,4,4,5
2,3,11069.130680,1.517778,8_2,11010730061,2,1,1,113,3,...,NaN,NaN,NaN,4.0,NaN,NaN,1.0,6,10,3
3,4,5461.096385,0.748815,8_3,11010730061,2,1,1,113,3,...,1.0,NaN,NaN,NaN,NaN,NaN,NaN,7,10,3
4,5,2308.647665,0.316557,9_1,11010730061,2,1,1,113,3,...,1.0,NaN,NaN,NaN,NaN,NaN,NaN,5,5,4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5373,5374,5214.785929,0.715042,204405_2,11250730521,2,2,1,116,3,...,1.0,NaN,NaN,NaN,NaN,NaN,NaN,11,10,4
5374,5375,3682.940899,0.504998,204411_1,11250730521,2,2,1,116,3,...,NaN,NaN,3.0,NaN,NaN,1.0,NaN,5,10,4
5375,5376,5807.987516,0.796380,204411_2,11250730521,2,2,1,116,3,...,1.0,NaN,NaN,NaN,NaN,NaN,NaN,11,10,4
5376,5377,2455.293933,0.336665,204417_1,11250730521,2,2,1,116,3,...,NaN,NaN,3.0,NaN,NaN,1.0,NaN,7,7,4
5377,5378,3476.523952,0.476694,204417_2,11250730521,2,2,1,116,3,...,1.0,NaN,NaN,NaN,NaN,NaN,NaN,11,7,4

In [ ]:
df.columns

Index(['No', 'wgt_a', 'wgt_b', 'id', 'Josagu', 'Josagu_gubun', 'Bon', 'Area1',
       'Area2', 'Area3',
       ...
       'DQ4_1', 'DQ4_2', 'DQ4_3', 'DQ4_4', 'DQ4_op2', 'DQ4_op3', 'DQ4_op4',
       'DQ5', 'DQ6', 'DQ7'],
      dtype='object', length=404)

In [ ]:
df_6 = df[df['Age_group']==6]
df_6

,No,wgt_a,wgt_b,id,Josagu,Josagu_gubun,Bon,Area1,Area2,Area3,...,DQ4_1,DQ4_2,DQ4_3,DQ4_4,DQ4_op2,DQ4_op3,DQ4_op4,DQ5,DQ6,DQ7
0,1,9115.936286,1.249960,2_1,11010730061,2,1,1,113,3,...,1.0,NaN,NaN,NaN,NaN,NaN,NaN,4,4,3
10,11,9115.936286,1.249960,28_1,11010730061,2,1,1,113,3,...,1.0,NaN,NaN,NaN,NaN,NaN,NaN,4,4,3
13,14,11810.788630,1.619473,50_1,11020710091,2,1,1,114,3,...,1.0,NaN,NaN,NaN,NaN,NaN,NaN,5,8,3
14,15,9115.936286,1.249960,50_2,11020710091,2,1,1,114,3,...,1.0,NaN,NaN,NaN,NaN,NaN,NaN,5,8,3
19,20,11810.788630,1.619473,61_1,11020710091,2,1,1,114,3,...,NaN,NaN,NaN,4.0,NaN,NaN,2.0,4,6,4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4814,4815,7905.030310,1.083923,202169_1,3103064059A,1,2,9,825,3,...,1.0,NaN,NaN,NaN,NaN,NaN,NaN,5,5,5
4815,4816,9786.389640,1.341891,202170_1,3103064059A,1,2,9,825,3,...,NaN,NaN,NaN,4.0,NaN,NaN,1.0,5,10,3
4995,4996,6864.488162,0.941246,202967_1,31180520071,2,2,9,830,3,...,NaN,NaN,NaN,4.0,NaN,NaN,1.0,3,3,5
5000,5001,6864.488162,0.941246,202974_2,31180520071,2,2,9,830,3,...,NaN,NaN,NaN,4.0,NaN,NaN,1.0,11,4,5
5084,5085,21812.959000,2.990952,203318_1,2631015053A,1,2,7,704,1,...,NaN,NaN,NaN,4.0,NaN,NaN,1.0,7,7,2

In [ ]:
sex_counts = df_6['Sex'].value_counts()
print("Sex 칼럼의 값 개수:\n", sex_counts)

Sex 칼럼의 값 개수:
 Sex
2    422
1    401
Name: count, dtype: int64

In [ ]:
DQ2_1_counts = df_6['DQ2_1'].value_counts()
print("\nDQ2_1 칼럼의 값 개수:\n", DQ2_1_counts)
DQ6_counts = df_6['DQ6'].value_counts()
print("\nDQ6 칼럼의 값 개수:\n", DQ6_counts)

DQ2_1 칼럼의 값 개수:
 DQ2_1
4    551
3    114
6     84
5     55
2     17
8      1
7      1
Name: count, dtype: int64

DQ6 칼럼의 값 개수:
 DQ6
4     224
5     181
6     112
7     101
3      83
8      57
2      24
9      22
10     18
1       1
Name: count, dtype: int64

In [ ]:
sex_counts = df_6['Sex'].value_counts()
sex_percent = df_6['Sex'].value_counts(normalize=True) * 100
sex_result = pd.DataFrame({'Counts': sex_counts, 'Percentage (%)': sex_percent})
print("Sex 칼럼의 값 개수와 비율:\n", sex_result)

Sex 칼럼의 값 개수와 비율:
      Counts  Percentage (%)
Sex
2       422        51.27582
1       401        48.72418

In [ ]:
dq2_1_counts = df_6['DQ2_1'].value_counts()
dq2_1_percent = df_6['DQ2_1'].value_counts(normalize=True) * 100
dq2_1_result = pd.DataFrame({'Counts': dq2_1_counts, 'Percentage (%)': dq2_1_percent})
print("\nDQ2_1 칼럼의 값 개수와 비율:\n", dq2_1_result)

DQ2_1 칼럼의 값 개수와 비율:
        Counts  Percentage (%)
DQ2_1
4         551       66.950182
3         114       13.851762
6          84       10.206561
5          55        6.682868
2          17        2.065614
8           1        0.121507
7           1        0.121507

In [ ]:
dq6_counts = df_6['DQ6'].value_counts()
dq6_percent = df_6['DQ6'].value_counts(normalize=True) * 100
dq6_result = pd.DataFrame({'Counts': dq6_counts, 'Percentage (%)': dq6_percent})
print("\nDQ6 칼럼의 값 개수와 비율:\n", dq6_result)

DQ6 칼럼의 값 개수와 비율:
      Counts  Percentage (%)
DQ6
4       224       27.217497
5       181       21.992710
6       112       13.608748
7       101       12.272175
3        83       10.085055
8        57        6.925881
2        24        2.916160
9        22        2.673147
10       18        2.187120
1         1        0.121507