<a href="https://colab.research.google.com/github/abalckpie/professorahn/blob/main/%EC%9D%BC%EC%9B%90%EB%B6%84%EC%82%B0%EB%B6%84%EC%84%9D.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

1. 데이터 불러오기

In [137]:
import pandas as pd
import numpy as np
from scipy import stats
from scipy.stats import f_oneway
import urllib
csv_test = pd.read_csv('/content/2022_2022년 지능정보사회 이용자 패널 조사_Data(가중치포함).csv')
df = pd.DataFrame(csv_test)

2. Q30_1~Q30_6의 평균 구하기

In [129]:
df.columns
df[['Q30_1', 'Q30_2', 'Q30_3', 'Q30_4', 'Q30_5', 'Q30_6']]
df1 = df[['Q30_1', 'Q30_2', 'Q30_3', 'Q30_4', 'Q30_5', 'Q30_6']]
df1 = np.mean(df1, axis=1)
df1

0       3.000000
1       3.333333
2       5.000000
3       2.666667
4       4.000000
          ...
5373    3.833333
5374    4.000000
5375    4.000000
5376    4.000000
5377    3.833333
Length: 5378, dtype: float64

3. age_group 데이터와 합치기

In [130]:
agedata = df[['Age_group']]

In [132]:
df1 = pd.concat([df1, agedata], axis=1)
df1.columns = ['mean', 'Age_group']
df1

          mean  Age_group
0     3.000000          6
1     3.333333          5
2     5.000000          5
3     2.666667          2
4     4.000000          4
...        ...        ...
5373  3.833333          1
5374  4.000000          4
5375  4.000000          1
5376  4.000000          4
5377  3.833333          1

[5378 rows x 2 columns]

3. 그룹화하여 일원분산분석 수행

In [142]:
grouped_data = df1.groupby('Age_group')['mean'].apply(list)
print(grouped_data)

Age_group
1    [3.6666666666666665, 3.1666666666666665, 3.666...
2    [2.6666666666666665, 2.6666666666666665, 3.5, ...
3    [3.3333333333333335, 3.5, 3.0, 3.3333333333333...
4    [4.0, 3.8333333333333335, 3.1666666666666665, ...
5    [3.3333333333333335, 5.0, 2.8333333333333335, ...
6    [3.0, 3.3333333333333335, 2.8333333333333335, ...
Name: mean, dtype: object

In [139]:
f_statistic, p_value = f_oneway(*grouped_data)
print("일원분산분석(One-way ANOVA) 결과:")
print("F 통계량:", f_statistic)
print("p-value:", p_value)

일원분산분석(One-way ANOVA) 결과:
F 통계량: 295.4738997581636
p-value: 4.071667352940725e-280

나머지 요인도 동일하게 수행

In [145]:
df[['Q30_7', 'Q30_8', 'Q30_9', 'Q30_10', 'Q30_11']]
df2 = df[['Q30_7', 'Q30_8', 'Q30_9', 'Q30_10', 'Q30_11']]
df2 = np.mean(df2, axis=1)
df2 = pd.concat([df2, agedata], axis=1)
df2.columns = ['mean', 'Age_group']
grouped_data = df2.groupby('Age_group')['mean'].apply(list)
f_statistic, p_value = f_oneway(*grouped_data)
print("일원분산분석(One-way ANOVA) 결과:")
print("F 통계량:", f_statistic)
print("p-value:", p_value)

일원분산분석(One-way ANOVA) 결과:
F 통계량: 161.12964835503425
p-value: 4.8885675778409014e-160

In [146]:
df[['Q30_12', 'Q30_13', 'Q30_14', 'Q30_15']]
df3 = df[['Q30_12', 'Q30_13', 'Q30_14', 'Q30_15']]
df3 = np.mean(df3, axis=1)
df3 = pd.concat([df3, agedata], axis=1)
df3.columns = ['mean', 'Age_group']
grouped_data = df3.groupby('Age_group')['mean'].apply(list)
f_statistic, p_value = f_oneway(*grouped_data)
print("일원분산분석(One-way ANOVA) 결과:")
print("F 통계량:", f_statistic)
print("p-value:", p_value)

일원분산분석(One-way ANOVA) 결과:
F 통계량: 218.26449684477134
p-value: 1.3296106378764662e-212

In [147]:
df[['Q30_16', 'Q30_17', 'Q30_18']]
df4 = df[['Q30_16', 'Q30_17', 'Q30_18']]
df4 = np.mean(df4, axis=1)
df4 = pd.concat([df4, agedata], axis=1)
df4.columns = ['mean', 'Age_group']
grouped_data = df4.groupby('Age_group')['mean'].apply(list)
f_statistic, p_value = f_oneway(*grouped_data)
print("일원분산분석(One-way ANOVA) 결과:")
print("F 통계량:", f_statistic)
print("p-value:", p_value)

일원분산분석(One-way ANOVA) 결과:
F 통계량: 286.63949479560245
p-value: 1.3852638921633942e-272

In [148]:
df[['Q30_19', 'Q30_20', 'Q30_21']]
df5 = df[['Q30_19', 'Q30_20', 'Q30_21']]
df5 = np.mean(df5, axis=1)
df5 = pd.concat([df5, agedata], axis=1)
df5.columns = ['mean', 'Age_group']
grouped_data = df5.groupby('Age_group')['mean'].apply(list)
f_statistic, p_value = f_oneway(*grouped_data)
print("일원분산분석(One-way ANOVA) 결과:")
print("F 통계량:", f_statistic)
print("p-value:", p_value)

일원분산분석(One-way ANOVA) 결과:
F 통계량: 137.34375986604488
p-value: 1.880642751123693e-137

In [149]:
df[['Q30_22', 'Q30_23', 'Q30_24']]
df6 = df[['Q30_22', 'Q30_23', 'Q30_24']]
df6 = np.mean(df6, axis=1)
df6 = pd.concat([df6, agedata], axis=1)
df6.columns = ['mean', 'Age_group']
grouped_data = df6.groupby('Age_group')['mean'].apply(list)
f_statistic, p_value = f_oneway(*grouped_data)
print("일원분산분석(One-way ANOVA) 결과:")
print("F 통계량:", f_statistic)
print("p-value:", p_value)

일원분산분석(One-way ANOVA) 결과:
F 통계량: 258.0101030066443
p-value: 7.695965441062569e-248